<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB3ydOzM0N1z-pS6ZxTIsIvlqVcwSprFgg</string>
	<key>GCM_SENDER_ID</key>
	<string>159451889472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.designcode.ChatAppDemo</string>
	<key>PROJECT_ID</key>
	<string>chat-app-practice-885cc</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-practice-885cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159451889472:ios:d5711bc3ea2fe4546044a5</string>
</dict>
</plist>